body {
    background-color: var(--sky-blue);
}

.layout-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 2fr 3fr;
}

/* HEADER / TITLE */

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 0 12vh calc(10px + 7vw);


    color: var(--white);
    z-index: 1;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

/* LOGISTER */

.logister-container {
    display: none;
    gap: 20px;
    padding: 60px;
    border-radius: 30px;
    background-color: var(--white);
}

.credential-container {
    display: grid;
    width: calc(300px + 5vw);
    align-items: center;
    grid-template-areas: "icon input";
    grid-template-columns: auto 1fr;
    gap: 16px;
}

.credential-icon {
    grid-area: icon;
    height: 22px;
    transition: fill .1s ease, transform .1s cubic-bezier(.59,1.47,.88,1.37);
}

.credential-input {
    grid-area: input;
    padding: 10px 0px;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid var(--black);
    transition: border-color .1s ease;
}

.credential-input:focus-visible {
    outline: none !important;
    border-color: var(--dark-red);
}

.credential-input:focus-visible ~ .credential-icon {
    fill: var(--dark-red) !important;
    transform: translateX(-5px);
}


.btn-container {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    margin-top: 30px;
}

.btn {
    width: 150px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 
        letter-spacing cubic-bezier(.17,.67,.72,1.6) .15s,
        background-color ease-out .10s,
        border-color ease-out .10s;
}

.btn-fill {
    background-color: var(--red);
    border: 1px solid var(--red);
    color: var(--white) !important;
}

.btn-outline {
    border: 3px solid var(--red);
    color: var(--red);
}

.btn:hover {
    letter-spacing: 3px;
}

.btn-fill:hover {
    background-color: var(--dark-red);
    border-color: var(--dark-red);
}

.btn-outline:hover {
    border-color: var(--dark-red);
    color: var(--dark-red);
}

/* GRADIENT OVERLAY */

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgb(71,208,255);
    background: -moz-linear-gradient(90deg, rgba(71,208,255,1) 40%, rgba(71,208,255,0) 56%);
    background: -webkit-linear-gradient(90deg, rgba(71,208,255,1) 40%, rgba(71,208,255,0) 56%);
    background: linear-gradient(90deg, rgba(71,208,255,1) 40%, rgba(71,208,255,0) 56%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#47d0ff",endColorstr="#47d0ff",GradientType=1);

    z-index: 0;
}

/* INTERACTIVE SIDE PANEL */

.side-panel {
    position: relative;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.landing-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;
    background-position: bottom;
    animation: bg-marquee 30s infinite linear;
    z-index: -2;
}

#landing_plane {
    z-index: 2;
    transform: translateY(15px);
    animation: float 4s infinite ease-in-out;
}

@keyframes bg-marquee {
    from { background-position-x: 0; }
    to { background-position-x: -3072px; }
}

@keyframes float {
    0% { transform: translateY(15px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(15px); }
}