{% extends "base.html" %}
{% block title %}Untitled Plane Game{% endblock %}

{% block expand_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
{% endblock %}

{% set upgrade_list = ["Lightweight", "Speed Up", "Crane Duration",
  "Throwing Power", "Steering Control", "Landing Gear", "Fuel Efficiency"] %}

{% block content %}
  <div class="layout-container">
    <canvas width="1000" height="600" id="game_canvas"></canvas>
    <div id="menu-container">
      <div class="menu-header">
        <h4>Upgrades</h4>
        <h5>Balance:</h5>
        <h5 id="balance">$0</h5>
      </div>
      {% for upgrade in upgrade_list %}
      <div class="upgrade-container noselect" data-upgradeid="{{ loop.index0 }}">
        <span class="upgrade-name">{{ upgrade }}</span>
        <span class="level-label">Buy Level
          <span class="upgrade-level">n</span>
        </span>
        <span class="upgrade-price">$n</span>
      </div>
      {% endfor %}
      <button id="play" type="button" class="btn btn-fill">Play</button>
    </div>
    <div id="results-container">
      <h2>Results</h2>
      <div class="stat-container">
        <span class="stat-name">Stars Collected</span>
        <div class="stat-line"></div>
        <div class="stat-result" id="star-result">0</div>
      </div>
      <div class="stat-container">
        <span class="stat-name">Distance</span>
        <div class="stat-line"></div>
        <div class="stat-result" id="dist-result">0</div>
      </div>
      <div class="total-container">
        <h4>Total: </h4>
        <h4 class="thin" id="total-result">$0</h4>
      </div>
      <button id="replay" type="button" class="btn btn-fill">Continue</button>
    </div>
    <div class="meters-container">
      <div class="meter">
        <span class="meter-label">Altitude</span>
        <span id="altitude">0m</span>
      </div>
      <div class="meter">
        <span class="meter-label">Velocity</span>
        <span id="velocity">0m/s</span>
      </div>
      <div class="meter">
        <span class="meter-label">Distance</span>
        <span id="distance">0m</span>
      </div>
      <div class="meter">
        <span class="meter-label">Fuel</span>
        <span id="fuel">0</span>
      </div>
      <div class="meter">
        <span class="meter-label">Total Distance</span>
        <span id="totalDistance">0m</span>
      </div>
    </div>
  </div>
  <form action="{{ url_for('gaming') }}" method="POST" id="submit">
    <input id="secret" type="hidden" value="L" name="data">
  </form>
  <script type="text/javascript">
    var cash = 0;
    var upgradeLevels = [0, 0, 0, 0, 0, 0, 0, 0, 0];
    var totalDistance = 0;
    var gaming = false;
    var loggedIn = "{{ loggedIn }}";
    console.log(loggedIn);
    if(loggedIn === "True") {
      loggedIn = true;
      if("{{ gaming }}" === "1") {
        gaming = true;
      }
      totalDistance = parseFloat("{{ totalDistance}}")
      cash = parseInt("{{ cash }}")
      upgradeLevels = []
      console.log(upgradeLevels)
      for(var i = 0; i < "{{ upgrades }}".length; i++) {
        upgradeLevels.push(parseInt("{{ upgrades }}".charAt(i)));
      }
      console.log(loggedIn + " " + cash + " " + totalDistance + " " + upgradeLevels + " " + gaming);
    } else {
      loggedIn = false;
    }
  </script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/physics.js') }}"></script>
  <script src="{{ url_for('static', filename='js/draw.js') }}"></script>
  <script src="{{ url_for('static', filename='js/throw.js') }}"></script>
  <script src="{{ url_for('static', filename='js/upgrades.js') }}"></script>
  <script src="{{ url_for('static', filename='js/hud.js') }}"></script>
  <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
  <script src="{{ url_for('static', filename='js/game.js') }}"></script>
  <div class="btn-container">
    <a href="logout" id="logout" type="button" class="btn btn-lg btn-fill">Logout</a>
</div>
{% endblock %}
