<!DOCTYPE html>
<html lang="en">
  <!-- Team IDon'tKnow -- Julia (Lia) Nelson, Michael Borczuk
       SoftDev pd1
       K32 -- canvas based DVD screensaver
       2022-02-17
       time spent: 0.7 hours
  -->



  <head>
    <meta charset="utf-8"/>
    <title>The State of DVD Screensaver</title>
  </head>

  <style>
    #playground { border: 1px solid black }
  </style>

  <h1>expansion + contraction + salvation</h1>

  <div>
    <button id="buttonCircle">
      I'm an Animaniac!
    </button>
    <button id="buttonDVD">
      I'm waiting for the movie to start
    </button>
    <button id="buttonStop">
      STOP
    </button>
  </div>

  <canvas width="500" height="500" id="playground">
  </canvas>

  <script src="/static/js/script.js"></script>

</html>